[submodule "folders/.vim/bundle/bufexplorer"]
	path = folders/.vim/bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "folders/.vim/bundle/FuzzyFinder"]
	path = folders/.vim/bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "folders/.vim/bundle/cocoa.vim"]
	path = folders/.vim/bundle/cocoa.vim
	url = https://github.com/vim-scripts/cocoa.vim.git
[submodule "folders/.vim/bundle/vim-colors-solarized"]
	path = folders/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "folders/.vim/bundle/L9"]
	path = folders/.vim/bundle/L9
	url = https://github.com/vim-scripts/L9.git
