[user]
	email = johan.attali@gmail.com
	name = apouche
[github]
	user = apouche
	token = ---
[alias]
    edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
    add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
    update = pull origin
	up = update
	po = push origin
    aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'
    br = branch
    ci = commit
    co = checkout
    df = diff
    cp = cherry-pick
    dfw = diff --color-words
    gr = grep --full-name -n
    k = !gitk
    lc = log --abbrev-commit --pretty=oneline --decorate=full --stat --no-merges ORIG_HEAD..
	lg = log --abbrev-commit --graph --pretty=format:'%C(cyan)%h%Creset -%C(magenta)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' -20
    lsv = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short --numstat
	logp = log --pretty=oneline --decorate=full -20
    post-review = send-email --no-chain-reply-to --suppress-cc all --suppress-from --no-signed-off-by-cc --annotate --compose --to corp.software.review@news.intersec.com -C -C -M
    post-review-test = send-email --no-chain-reply-to --suppress-cc all --suppress-from --no-signed-off-by-cc --annotate --compose --to corp.test@news.intersec.com -C -C -M
    st = status -sb
    who = shortlog -s --
[branch]
    autosetuprebase = always
[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto
    log = auto
[color "status"]
    header = bold blue
    added = bold green
    changed = bold cyan
    untracked = bold yellow
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[push]
    default = simple
[mergetool]
	keepBackup = true
[core]
	excludesfile =
[difftool "sourcetree"]
	cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
